 .btn {
    padding: 0.375rem 2.75rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 15;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}