hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* .btn {
    border: 2px solid rgb(0, 0, 0);
    padding: 0.375rem 2.75rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
}
  
.btn:hover {
    color: white;
    background: black;
    transition: all .4s ease-out;
}

.trans:hover{
    border: 2px solid rgb(255, 255, 255);
    padding: 0.375rem 2.75rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
}
a {
    color: #000000;
    text-decoration: none;
}

.white{
    color: white;
} */
.container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
