<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karta Pacjenta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .container {
    background-color: #fff;
    border: 3px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}
  </style>
</head>

<body>
  <div class="container">
    <h1 class="mt-4">Karta Pacjenta</h1>
    <hr>
    <div class="form-group">
      <h5>Imię:</h5>
      <p class="form-control-static">{{user_profile.name|title}}</p>
    </div>

    <div class="form-group">
      <h5>Nazwisko:</h5>
      <p class="form-control-static">{{user_profile.surname|title}}</p>
    </div>

    <div class="form-group">
      <h5>Data urodzenia:</h5>
      <p class="form-control-static">{{user_profile.date_of_birth}}</p>
    </div>

    <div class="form-group">
      <h5>PESEL:</h5>
      <p class="form-control-static">{{user_profile.pesel}}</p>
    </div>

    <div class="form-group">
      <h5>Płeć:</h5>
      <p class="form-control-static">{{user_profile.sex}}</p>
    </div>

    <div class="form-group">
      <h5>Numer telefonu:</h5>
      <p class="form-control-static">+{{user_profile.phone_number}}</p>
    </div>

    <div class="form-group">
      <h5>Wzrost:</h5>
      <p class="form-control-static">{{user_profile.height}} cm</p>
    </div>

    <div class="form-group">
      <h5>Adres zamieszkania:</h5>
      <p class="form-control-static">{{user_profile.street}} {{user_profile.city}} {{user_profile.postal_code}}</p>
    </div>

    <h2>Osoba do kontaktu w nagłych przypadkach</h2>
    <hr>
    {% if user_profile.name_to_contact and user_profile.surname_to_contact %}
    <div class="form-group">
      <h5>Imię:</h5>
      {% if user_profile.name_to_contact %}
      <p class="form-control-static">{{user_profile.name_to_contact|title}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>Nazwisko:</h5>
      {% if user_profile.surname_to_contact %}
      <p class="form-control-static">{{user_profile.surname_to_contact|title}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>Numer telefonu:</h5>
      {% if user_profile.phone_number_to_contact %}
      <p class="form-control-static">+{{user_profile.phone_number_to_contact}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>Powiązanie z pacjentem:</h5>
      {% if user_profile.connection_with_patient %}
      <p class="form-control-static">{{user_profile.connection_with_patient}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    {% else %}
    <p class="form-control-static">Brak danych</p>
    {% endif %}

    <h2>Dane medyczne</h2>
    <hr>
    <div class="form-group">
      <h5>Choroby:</h5>
      {% if user_profile.illness %}
      <p class="form-control-static">{{user_profile.illness}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>Alergie:</h5>
      {% if user_profile.allergies %}
      <p class="form-control-static">{{user_profile.allergies}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>Uzależnienia:</h5>
      {% if user_profile.addiction %}
      <p class="form-control-static">{{user_profile.addiction}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <h2>Covid-19</h2>
    <hr>
    {% if user_profile.had_covid19 == 'Tak' %}
    <div class="form-group">
      <h5>Czy pacjent był chory na Covid-19?</h5>
      <p class="form-control-static">{{user_profile.had_covid19}}</p>
    </div>

    <div class="form-group">
      <h5>Data wykrycia Choroby Covid-19:</h5>
      <p class="form-control-static">{{user_profile.date_of_covid19}}</p>
    </div>

    {% else %}
    <div class="form-group">
      <h5>Czy pacjent był chory na Covid-19?</h5>
      <p class="form-control-static">{{user_profile.had_covid19}}</p>
    </div>
    {% endif %}

    {% if user_profile.had_covid19 == 'Tak' %}
    <div class="form-group">
      <h5>Czy pacjent szczepiony na Covid-19?</h5>
      <p class="form-control-static">{{user_profile.had_covid19}}</p>
    </div>

    <div class="form-group">
      <h5>Data ostatniego szczepienia pacjenta:</h5>
      <p class="form-control-static">{{user_profile.date_of_covid19}}</p>
    </div>

    {% else %}
    <div class="form-group">
      <h5>Czy pacjent szczepiony na Covid-19?</h5>
      <p class="form-control-static">{{user_profile.had_covid19}}</p>
    </div>
    {% endif %}

    <h2>Leki pacjenta</h2>
    <hr>
    {% if user_profile.name_of_drug %}
    <div class="form-group">
      <h5>Nazwa leku:</h5>
      {% if user_profile.name_of_drug %}
      <p class="form-control-static">{{user_profile.name_of_drug}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>Dawka leku:</h5>
      {% if user_profile.drug_dose %}
      <p class="form-control-static">{{user_profile.drug_dose}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    <div class="form-group">
      <h5>O jakiej porze pacjent powinien zażyć leki:</h5>
      {% if user_profile.m_a_e_drug_dose %}
      <p class="form-control-static">{{user_profile.m_a_e_drug_dose}}</p>
      {% else %}
      <p class="form-control-static">Brak danych</p>
      {% endif %}
    </div>

    {% else %}
    <p class="form-control-static">Brak danych</p>
    {% endif %}

    {% if user_profile.extra_informations %}
    <h2>Dodatkowe informacje</h2>
    <hr>
    <p class="form-control-static">{{user_profile.extra_informations}}</p>
    {% else %}
    {% endif %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
